.tab-pane {
    -fx-background-color: #f5f6f7;
    -fx-padding: 5;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent; /* Quita el gris */
}


.tab {
    -fx-background-color: #f5f6f7;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: #ddd;
    -fx-border-width: 0 1 0 0;
    -fx-border-radius: 8 8 0 0;
    -fx-start-margin: 5;
    -fx-end-margin: 5;
}

.tab:selected {
    -fx-background-color: #3b82f6; /* azul */
    -fx-text-base-color: white;
    -fx-font-weight: bold;
}
